* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient( #8158fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.99);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #0ea5e9;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #8158fc;
}

.bnt1{
    margin-top: 10px;
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: #0ea5e9;
}

.toggle button{
    margin-top: 1em;
}
.password-wrapper {
  position: relative;
}

.show-pass {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #555;
}

.message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
}

@media (max-width: 425px) {
    .container {
    width: 100%;
  }
}